<header>
    <div class="container" id="my-scanner-header">
        <a href="#" class="logo">Receipt Scanner</a>
        <nav>
            <div class="menu-toggle" id="menu-toggle">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <ul id="nav-menu">
                <li><a href="/scanner/">Scan</a></li>
                <li><a href="#">Results</a></li>
                <li><a href="/">About Me</a></li>
                <li><a href="/scanner/login/">Login</a></li>
            </ul>
        </nav>
    </div>
</header>
