<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Biography</title>
    <link rel="stylesheet" href="/static/bio/styles.css">
</head>
<body>
    <div class="bio-container">
        <!-- Profile Section -->
        <div class="profile-section">
            <img class="profile-pic" src="/static/bio/profile.jpg" alt="Profile Picture">
            <h1 class="name">Yen-Ting Lee</h1>
            <p class="tagline">Software Developer | Tech Enthusiast | Researcher</p>
            <div class="social-links">
                <a href="https://www.linkedin.com/in/yen-ting-lee-7668b0293/" target="_blank">LinkedIn</a>
                <a href="https://github.com/ralph831005" target="_blank">GitHub</a>
            </div>
            <div class="social-links">
                <a href="{% url 'scanner' %}" target="_blank">Receipt Scanner</a>
            </div>
        </div>

        <!-- About Section -->
        <div class="about-section">
            <h2>About Me</h2>
            <p>
				Hi, I'm Yen-Ting!
            </p>
        </div>

        <!-- Personal Story Section -->
        <div class="story-section">
            <h2>My Story</h2>
            <p>
				To be told.
            </p>
        </div>
    </div>
</body>
</html>

