<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Receipt Scanner</title>
    <link rel="stylesheet" href="/static/scanner/styles.css">
</head>
<body>
    <div class="upload-container">
        <h1>Upload Your Photo</h1>
        <form id="fileUploadForm" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <!-- Drag and Drop Zone -->
            <div id="dropZone" class="drag-area">
                <div class="drag-text">
                    <p>Drag & Drop your photo here</p>
                    <p>or</p>
                    <label class="upload-button">
                        <input type="file" id="fileInput" name="photo" accept="image/*" hidden>
                        <span>Browse File</span>
                    </label>
                </div>
            </div>

            <!-- Image Preview -->
            <div id="previewContainer" class="preview-container" style="display: none;">
                <h3>Image Preview:</h3>
                <img id="imagePreview" src="" alt="Uploaded Image Preview">
            </div>

            <!-- Submit Button -->
            <button type="submit" class="submit-button" id="image-submit">Upload</button>
        </form>
        {% if photo_url and receipt %}
        <!-- <div class="render-container"> -->
            <!-- Photo Section -->
            <div class="preview-container">
                <h2>Uploaded Photo</h2>
                <img src="{{ photo_url }}" alt="Uploaded Photo">
            </div>

            <!-- Receipt Section -->
            <div class="receipt-section">
                <h2>{{ receipt.store }}</h2>
                <h3>{{ receipt.purchase_date }}</h3>
                <h3>{{ receipt.total_price }}</h3>
                <div class="receipt-details">
                    <p><strong>Tax Rate:</strong> {{ receipt.tax_rate }}%</p>
                    <p><strong>Tax:</strong> ${{ receipt.tax }}</p>
                </div>

                <!-- Item Table -->
                <table class="item-table">
                    <thead>
                        <tr>
                            <th>Item</th>
                            <th>Price ($)</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in receipt.items %}
                        <tr>
                            <td>{{ item.item }}</td>
                            <td>{{ item.price }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        <!-- </div> -->
        {% endif %}
    </div>
	<!-- Show Results Only After Upload -->

    <script src="/static/scanner/script.js"></script>
</body>
</html>

